TELEGRAM_BOT_TOKEN=dummy
GROQ_API_KEY=dummy
BACKEND_PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000001
RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545
RPC_URL_FALLBACK=https://bsc-testnet-dataseed.bnbchain.org
VAULT_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
DB_PATH=omnidegen.sqlite
MOCK_MODE=true
MOCK_TX=true
SLIPPAGE_BPS=200
GROQ_MODEL=openai/gpt-oss-20b
BSCSCAN_API_KEY=isi_dari_bscscan_com_api_keys
ADMIN_ID=isi_telegram_user_id_admin_demo
MINIAPP_URL=https://omnidegen-xxx_vercel_app
MINIAPP_ORIGIN=https://miniapp-omnidegen.vercel.app
API_ENABLED=true
API_PORT=8787
MUSDC_ADDRESS=0x5930d789bE286F3645BD6678fB8eD1c786c2CE36
